<ul class="nav nav-pills nav-stacked adm-navbar">
    <li>
        <a ui-sref-active="active" ui-sref="groupDetails.groupProfile()">Profile group</a>
    </li>
    <li>
        <a ui-sref-active="active" ui-sref="groupDetails.groupEdit()">Edit group</a>
    </li>
    <li>
        <a ui-sref-active="active" ui-sref="groupDetails.usersGroup()">Users group</a>
    </li>
    <li>
        <a ng-click="groupDetails.deleteGroup(groupDetails.group._id)">Delete group</a>
    </li>
</ul>