<h2>Groups</h2>

<adm-search search-items-func="groupsPage.searchGroups"
            search-items-result="groupsPage.searchGroupsResult">
    <adm-groups-list groups="groupsPage.searchGroupsResult"
                     is-show="groupsPage.showGroups">
    </adm-groups-list>
</adm-search>

<h3 ng-show="!!(!groupsPage.searchGroupsResult)">All groups
    <a class="btn-add"
       ui-sref-active="active"
       ui-sref="addNewGroup">+</a>
</h3>

<div id="fixed"
     ng-show="!!(!groupsPage.searchGroupsResult)"
     adm-scrolling="groupsPage.showNumPage()">
    <adm-groups-list groups="groupsPage.groups"
                     is-show="groupsPage.showGroups">
    </adm-groups-list>
</div>