<div class="adm-profile">
    <div class="col-sm-3">
        <img class="profile-img" src="../img/profile.png" alt="profile"/>
    </div>
    <div class="col-sm-9">
        <h4>User details</h4>
        <div class="adm-profile-items clearfix">
            <div class="col-sm-3"><p>User name:</p></div>
            <div class="col-sm-9"><p>{{vm.user.userName}}</p></div>
            <div class="col-sm-3"><p>First name:</p></div>
            <div class="col-sm-9"><p>{{vm.user.firstName}}</p></div>
            <div class="col-sm-3"><p>Last name:</p></div>
            <div class="col-sm-9"><p>{{vm.user.lastName}}</p></div>
            <div class="col-sm-3"><p>Email:</p></div>
            <div class="col-sm-9"><p>{{vm.user.email}}</p></div>
        </div>
    </div>
</div>