<form name="userForm"
      class="form-horizontal"
      novalidate
      ng-submit="vm.submitFunc(vm.user, userForm.$valid, userForm)">
    <div class="form-group">
        <label for="inputUserName" class="col-sm-3 control-label">User name:</label>
        <div class="col-sm-9">
            <input type="text"
                   check-unique="{model: 'user', property: 'userName'}"
                   name="userName"
                   class="form-control"
                   id="inputUserName"
                   placeholder="userName"
                   required
                   ng-minlength="4"
                   ng-maxlength="20"
                   ng-pattern="/^[a-zA-Z0-9.-]+$/"
                   ng-model="vm.user.userName">
        </div>
        <div class="error margin-error-validation"
             ng-messages="userForm.userName.$error"
             ng-show="userForm.userName.$touched||userForm.$submitted">
            <div ng-messages-include="validateMessages.tmpl.html"></div>
            <p ng-message="pattern">4 ~ 20 characters (Latin alphabet, digits, '.', '-') (Unique)</p>
            <p ng-message="unique">User name already in use</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputFirstName" class="col-sm-3 control-label">First name:</label>
        <div class="col-sm-9">
            <input type="text"
                   name="firstName"
                   class="form-control"
                   id="inputFirstName"
                   placeholder="firstName"
                   required ng-minlength="2"
                   ng-maxlength="20"
                   ng-pattern="/^[a-zA-Z\s-]+$/"
                   ng-model="vm.user.firstName">
        </div>
        <div class="error margin-error-validation"
             ng-messages="userForm.firstName.$error"
             ng-show="userForm.firstName.$touched||userForm.$submitted">
            <div ng-messages-include="validateMessages.tmpl.html"></div>
            <p ng-message="pattern">2 ~ 20 characters (only letters, the space character and '-')</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputLastName" class="col-sm-3 control-label">Last name:</label>
        <div class="col-sm-9">
            <input type="text"
                   name="lastName"
                   class="form-control"
                   id="inputLastName"
                   placeholder="lastName"
                   required ng-minlength="2"
                   ng-maxlength="20"
                   ng-pattern="/^[a-zA-Z]+$/"
                   ng-model="vm.user.lastName">
        </div>
        <div class="error margin-error-validation"
             ng-messages="userForm.lastName.$error"
             ng-show="userForm.lastName.$touched||userForm.$submitted">
            <div ng-messages-include="validateMessages.tmpl.html"></div>
            <p ng-message="pattern">2 ~ 20 characters (only letters)</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-3 control-label">Email:</label>
        <div class="col-sm-9">
            <input type="email"
                   name="email"
                   check-unique="{model: 'user', property: 'email'}"
                   class="form-control"
                   id="inputEmail"
                   placeholder="email"
                   required
                   ng-minlength="2"
                   ng-maxlength="20"
                   ng-pattern="/^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$/"
                   ng-model="vm.user.email">
        </div>
        <div class="error margin-error-validation"
             ng-messages="userForm.email.$error"
             ng-show="userForm.email.$touched||userForm.$submitted">
            <div ng-messages-include="validateMessages.tmpl.html"></div>
            <p ng-message="pattern">3 ~ 30 characters in the format of email (unique)</p>
            <p ng-message="unique">Email already in use</p>
        </div>
    </div>
    <div class="btn-form-right">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-primary" ng-click="vm.back()">Cancel</a>
    </div>
</form>