<h4 ng-hide="vm.isShow">There are no users.</h4>
<table ng-show="vm.isShow" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>User name</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in vm.users">
            <td>{{$index+1}}</td>
            <td><a ui-sref="userDetails.userProfile({userId: user._id})">{{user.userName}}</a></td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
        </tr>
    </tbody>
</table>