<div class="pagination-wrap">
    <ul class="pagination">
        <li ng-repeat="page in vm.paginationList"
            ng-click="vm.showNumPage(page.link)"
            ng-class="{'active': vm.currentPages == page.link,
                       'disabled': (vm.currentPages === 0 && page.link === 'prev') ||
                       ((vm.currentPages === vm.paginationList.length - 3) && page.link === 'next')}">
            <a>{{page.name}}</a>
        </li>
    </ul>
</div>