<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon">&#128269;</div>
        <input class="form-control"
               ng-change="vm.searchItemsFunc(vm.searchParams)"
               type="text"
               name="search"
               id="search"
               placeholder="Search"
               ng-model="vm.searchParams"/>
        <div ng-show="vm.searchParams" class="input-group-addon">
            <a ng-click="vm.clearSearch()">X</a>
        </div>
    </div>
</div>
<div class="adm-search-result-not-found" ng-show="!!(vm.searchParams && vm.searchItemsResult && vm.searchItemsResult.length === 0)">
    <p>Search not found.</p>
</div>
<div ng-show="!!(vm.searchParams && vm.searchItemsResult && vm.searchItemsResult.length > 0)">
    <h4>Search result:</h4>
    <ng-transclude></ng-transclude>
</div>