<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand header-page">Admin page</span>
            <a class="navbar-brand" ui-sref-active="active" ui-sref="usersPage">Users</a>
            <a class="navbar-brand" ui-sref-active="active" ui-sref="groupsPage">Groups</a>
        </div>
    </div>
</nav>