<ul class="nav nav-pills nav-stacked adm-navbar">
    <li>
        <a ui-sref-active="active" ui-sref="userDetails.userProfile()">Profile user</a>
    </li>
    <li>
        <a ui-sref-active="active" ui-sref="userDetails.userEdit()">Edit user</a>
    </li>
    <li>
        <a ui-sref-active="active" ui-sref="userDetails.groupsUser.groupsList()">Groups user</a>
    </li>
    <li>
        <a ng-click="userDetails.deleteUser(userDetails.user._id)">Delete user</a>
    </li>
</ul>