<div class="container-form margin-form">
    <h3>Add group for user</h3>
    <form name="groupsUserForm"
          class="form-horizontal adv-margin-form-addG"
          novalidate
          ng-submit="groupsUser.addGroupForUser(groupsUser.groupForUser, groupsUserForm.$valid, groupsUserForm)">
        <div class="form-group">
            <label for="inputGroup"
                   class="col-sm-4 control-label">Group name:</label>
            <div class="col-sm-8">
                <select name="groups"
                        check-unique="{model: 'user', property: 'groupId'}"
                        ng-model="groupsUser.groupForUser.group"
                        id="inputGroup"
                        class="form-control"
                        required
                        ng-options="group.groupName for group in groupsUser.groups track by group._id">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="error margin-error-select"
                 ng-messages="groupsUserForm.groups.$error"
                 ng-show="groupsUserForm.groups.$touched||groupsUserForm.$submitted">
                <div ng-messages-include="validateMessages.tmpl.html"></div>
                <p ng-message="unique">User already exist in the group</p>
            </div>
        </div>
        <div class="btn-form-right">
            <button type="submit" class="btn btn-primary">Add</button>
            <a class="btn btn-primary" ui-sref="userDetails.groupsUser.groupsList">Cancel</a>
        </div>
    </form>
</div>