<h3>List groups the user</h3>

<div class="adm-margin-GList">
    <adm-groups-list groups="groupsUser.groupsUser"
                     is-show="groupsUser.showUserGroups"
                     delete-func="groupsUser.deleteGroupFromUser">
    </adm-groups-list>
</div>

