<ul class="nav nav-pills adm-navbar">
    <li>
        <a ui-sref-active="active" ui-sref="userDetails.groupsUser.groupsList()">Groups list</a>
    </li>
    <li>
        <a ui-sref-active="active" ui-sref="userDetails.groupsUser.addGroup()">Add group for user</a>
    </li>
</ul>
<div ui-view="content"></div>