<div class="row">
    <div class="col-sm-9 border-right animate-content-user">
        <div ui-view="content"></div>
    </div>
    <div class="col-sm-3">
        <div ui-view="navbar"></div>
    </div>
</div>