<h2>Users</h2>

<adm-search search-items-func="usersPage.searchUsers"
            search-items-result="usersPage.searchUsersResult">
    <adm-users-list users="usersPage.searchUsersResult"
                    is-show="usersPage.showUsers">
    </adm-users-list>
</adm-search>

<h3 ng-show="!!(!usersPage.searchUsersResult)">All users
    <a class="btn-add"
       ui-sref-active="active"
       ui-sref="addNewUser">+</a>
</h3>

<adm-users-list ng-show="!!(!usersPage.searchUsersResult)"
                users="usersPage.users"
                is-show="usersPage.showUsers">
</adm-users-list>

<adm-pagination ng-show="!!(!usersPage.searchUsersResult)"
                current-pages="usersPage.currentPages"
                show-num-page="usersPage.showNumPage"
                pagination-list="usersPage.paginationList">
</adm-pagination>