<h4 ng-hide="vm.isShow">There are no groups</h4>
<table ng-show="vm.isShow" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Group name</th>
            <th>Group title</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="group in vm.groups">
            <td>{{$index+1}}</td>
            <td><a ui-sref="groupDetails.groupProfile({groupId: group._id})">{{group.groupName}}</a></td>
            <td>{{group.groupTitle}}
                <a ng-show="vm.deleteFunc" class="delete-icon" ng-click="vm.deleteFunc(group._id)">X</a>
            </td>
        </tr>
    </tbody>
</table>
