<form name="groupForm"
      class="form-horizontal"
      novalidate
      ng-submit="vm.submitFunc(vm.group, groupForm.$valid, groupForm)">
    <div class="form-group">
        <label for="inputGroupName"
               class="col-sm-3 control-label">Group name:</label>
        <div class="col-sm-9">
            <input type="text"
                   check-unique="{model: 'group', property: 'groupName'}"
                   name="groupName"
                   class="form-control"
                   id="inputGroupName"
                   placeholder="groupName"
                   required
                   ng-minlength="4"
                   ng-maxlength="20"
                   ng-pattern="/^[a-zA-Z0-9.-]+$/"
                   ng-model="vm.group.groupName">
        </div>
        <div class="error margin-error-validation"
             ng-messages="groupForm.groupName.$error"
             ng-show="groupForm.groupName.$touched||groupForm.$submitted">
            <div ng-messages-include="validateMessages.tmpl.html"></div>
            <p ng-message="pattern">4 ~ 20 characters (Latin alphabet, digits, '.', '-') (Unique)</p>
            <p ng-message="unique">Group name already in use</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputGroupTitle" class="col-sm-3 control-label">Group title:</label>
        <div class="col-sm-9">
            <input type="text"
                   name="groupTitle"
                   class="form-control"
                   id="inputGroupTitle"
                   placeholder="groupTitle"
                   required
                   ng-minlength="6"
                   ng-maxlength="20"
                   ng-model="vm.group.groupTitle">
        </div>
        <div class="error margin-error-validation"
             ng-messages="groupForm.groupTitle.$error"
             ng-show="groupForm.groupTitle.$touched||groupForm.$submitted">
            <div ng-messages-include="validateMessages.tmpl.html"></div>
        </div>
    </div>
    <div class="btn-form-right">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-primary" ng-click="vm.back()">Cancel</a>
    </div>
</form>